.footer {
    padding: 20px 15px 15px 70px;
    display: flex;
    background-color: hsl(0, 1%, 28%);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: flex-start;
    height: 20vh;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
li {
    /* text-decoration: none; */
    width: 150px;
    text-align: left;
    font-size: .9em;
    list-style: none;

}

.redes {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}
.social{
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.store{
    display: flex;
    width: 400px;
    justify-content: center;
    gap: 10px;
}
